[Unit]
Description=pyzzazz
Requires=network-online.target
After=redis.service

[Service]
Type=simple

ExecStart=python3 -u /home/cassm/src/pyzzazz/pyzzazz.py
ExecStop=kill -9 $MAINPID
Restart=always
RestartSec=5
User=cassm

CPUSchedulingPolicy=fifo
CPUSchedulingPriority=80
IOSchedulingClass=realtime
IOSchedulingPriority=1

[Install]
WantedBy=multi-user.target
